<!DOCTYPE html>
<html>
{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Banking Modal</title>
</head>
{% block content %}
<body>
  <div class="text-center pt-5">
    <button type="button" class="btn btn-primary m-2 mx-auto" data-toggle="modal" data-target="#depositModal">Deposit</button>
    <button type="button" class="btn btn-secondary m-2 mx-auto" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
    <button type="button" class="btn btn-success m-2 mx-auto" data-toggle="modal" data-target="#balanceModal">Check Balance</button>
  </div>
  
  <div class="text-center" id="return-message-div">
    {% if return %}
    <p id="return-message">{{ return }}</p>
    {% endif %}
  </div>
  

<!--  <div class="container mt-5">-->
<!--    <form class="mx-auto" style="max-width: 500px;" action="register" method="post">-->
<!--      {% csrf_token %}-->
<!--      <div class="form-group">-->
<!--        <label for="account_number">Account Number</label>-->
<!--        <input type="text" class="form-control" id="account_number" name="account_number"-->
<!--          placeholder="Enter account number">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="name">Name</label>-->
<!--        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="amount">Amount</label>-->
<!--        <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter amount">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="phone">Phone</label>-->
<!--        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone number">-->
<!--      </div>-->

<!--      <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
<!--  </div>-->
  <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositModalLabel">Deposit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="deposite" method="POST" id="deposite">
            {% csrf_token %}
            <div class="form-group">
              <label for="deposit_amount">Deposit Amount</label>
              <input type="text" class="form-control" id="deposit_amount" name="deposit_amount" placeholder="Enter deposit amount">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="depositeform()">Deposit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="withdrawModalLabel">Withdraw</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="withdraw" method="POST" id="withdraw">
            {% csrf_token %}
            <div class="form-group">
              <label for="withdraw_amount">Withdraw Amount</label>
              <input type="text" class="form-control" id="withdraw_amount" name="withdraw_amount"
                placeholder="Enter withdraw amount">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="withdrawform()">Withdraw</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="balanceModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="balanceModalLabel">Check Balance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="balance" method="POST" id="balance">
            {% csrf_token %}
            <div class="form-group">
              <label for="account_number">Account Number</label>
              <input type="text" class="form-control" id="account_number" name="account_number"
                placeholder="Enter account number">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onclick="balanceForm()" class="btn btn-success">Check Balance</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <script>
    function balanceForm() {
      document.getElementById("balance").submit();
    }
    function withdrawform() {
      document.getElementById("withdraw").submit();
    }
    function depositeform() {
      document.getElementById("deposite").submit();
    }
    setTimeout(function(){
      document.getElementById("return-message").style.display = "none";
    }, 5000);
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<style>
  body {
    background-image: url({% static 'bank.jpg' %});
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
</body>
</html>



